<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         name=""
         point="org.eclipse.scout.service.services">
      <service
            factory="org.eclipse.scout.service.DefaultServiceFactory"
            class="test.firstapp.shared.services.common.text.FirstappTextProviderService">
      </service>
      <service
            factory="org.eclipse.scout.service.DefaultServiceFactory"
            class="test.firstapp.shared.services.common.text.FirstappDocumentationTextProviderService">
      </service>
   </extension>

</plugin>
