<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="firstapp" sequenceNumber="3">
<locations>
<location path="${eclipse_home}\..\..\..\.p2\pool" type="Directory"/>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.rap.feature.feature.group" version="3.0.1.20150908-1130"/>
<unit id="org.eclipse.scout.rt.rap.source.feature.group" version="5.0.100.20150916-1224"/>
<repository location="http://download.eclipse.org/releases/mars"/>
</location>
</locations>
<launcherArgs>
<vmArgs>-Xms256m -Xmx512m </vmArgs>
</launcherArgs>
</target>
